body {
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1440px;
}

/* MENU */

.iframe{
    width:560px; 
    height:315px;
}

.burger{
    display: none;
}

.m-menu{
    position: fixed;
    width: 95%;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    z-index: 5;
    top: 40%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
    display: none;
}
.m-menu a{
    display: block;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.menu {
    text-align: center;
    background-color: black;
    padding: 25px 0;
}

.menu a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
}

.menu a:hover {
    color: #E58E00;
}

/* HEADER */

header {
    background-image: url(img/adapt1.png);
    padding: 40px 50px 100px 200px;
    display: flex;
}

h1 {
    color: white;
    display: inline-block;
    font-size: 50px;
    width: 60%;
    padding-top: 70px;
}

h2 {
    text-align: center;
    color: #34547A;
}

header p {
    color: white;
    width: 60%;
    font-style: normal;
font-weight: 500;
line-height: 164.06%;
}
.left{
    width: 50%;
}
.left p{
    font-size: 30px;
}

.zm {
    max-width: 455px;
    background-color: white;
    border-radius: 45px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.zm img {
    border-radius: 50%;
    border: 10px #c94a00bb solid;
    max-width: 220px;
    max-height: 220px;
}

.zm button {
    background: linear-gradient(94.77deg, #FF0000 0%, #E58E00 100%);
    border-radius: 10px;
    border: none;
    padding: 15px 25px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    font-size: 24px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.1em;
}

.zm p {
    display: block;
    color: black;
}

.name {
    font-size: 38px;
    font-weight: bold;
    margin: 15px auto;
    width: 90%;
}

.desk {
    margin: 0 auto;
    margin-bottom: 33px;
    font-weight: 300;
    font-size: 19px;
    line-height: 22px;
    width: 70%;
}

.achiv {
    height: 250px;
    background-color: #c94a00bb;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.achiv img {
    height: 120px;
}










.slider {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    max-width: 1170px;
    margin: 0 auto;
}

.slider img {
    width: 390px;
    margin: 10px;
}

.str {
    width: 50px !important;
    transition: .3s;
    position: absolute;
    top: 1370px;
    z-index: 2;
}
.slider-next{
    right: 20px;
}
.slider-prev{
    left: 20px;
}

.str:hover {
    cursor: pointer;
    transform: scale(1.3);
}
.slider-line {
    background: white;
    position: relative;
    left: 0;
    transition: 1s;
    width: 3515px;
    display: flex;
    justify-content: center;
}









.mywork {
    padding: 90px 0 250px 0;
}


.howork {
    background: linear-gradient(#E58E00, white);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 150px;
}
.howork p{
    width: 43%;
    color: white;
    margin: 0 auto;
    line-height: 26px;
    margin-bottom: 57px;
}
.feedback{
    text-align: center;
}
.feedback p {
    text-align: center;
    width: 42%;
    margin: 0 auto;
    padding-top: 50px;
    color: #727272;
}
form{
    width: 30%;
    margin: 0 auto;
    padding-top: 50px;
}
form input, textarea{
    box-sizing: border-box;
    width: 100%;
    margin: 10px;
    padding: 10px;
    border: none;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}
form button{
    background: #0D0D0C;
border-radius: 10px;
padding: 10px 20px;
border: none;
color: white;
font-size: 20px;
margin-top: 30px;
margin-bottom: 50px;
transition: .5s;
}
form button:hover{
    cursor: pointer;
    background-color: #E58E00;
}
footer{
    background-color: #E58E00;
    text-align: center;
    color: white;
    padding: 57px 0 43px 0;
}



@media (max-width:1350px){
    .slider img {
        width: 300px;
        margin: 10px;
    }
    .slider-next{
        right: 0;
    }
    .slider-prev{
        left: 0;
    }
    .str {
        top: 1330px;
    }
    .slider {
width: 80%;
    }
}

@media (max-width:1000px){
    .left{
        display: none;
    }
    header{
        justify-content: center;
        padding: 40px 0 100px 0;
    }
    .achiv img{
        width: 150px;
        height: auto;
    }
    .achiv{
        height: 150px;
    }
    .str{
        top: 1230px;
    }
}

@media (max-width: 660px){
    .menu{
        display: none;
    }
    .burger{
        display: block;
        position: fixed;
        width: 50px;
        z-index: 3;
        left: 10px;
        top: 10px;
    }
    .str{
        top: 1170px;
    }
    .howork p {
        width: 80%;
    }
    .feedback p {
        width: 80%;
    }
    form{
        width: 90%;
        margin: 0 auto;
    }
    .iframe{
        width: 90%;
        height: auto;
    }
    .achiv img{
        width: 90px;
        height: auto;
    }
    .achiv{
        height: 100px;
    }
    .zm{
        width: 90%;
    }
    .name{
        font-size: 27px;
    }
    .str{
        top: 1130px;
        width: 40px !important;
    }
    .slider{
        width: 75%;
    }
    form input, textarea {
        margin: 10px 0;
    }
}